<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/question.css">
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body>
    <div>
        <a href="/addQuizz" class="btn btn-sm btn-outline-secondary button">New Quiz</a>

        <h1 class="text-center">
            <%= description %>
        </h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Quiz</th>
                </tr>
            </thead>
            <tbody>
                <% quizzes.forEach((quiz, index)=> { %>
                    <tr>
                        <td>
                            <%= index + 1 %>
                        </td>
                        <td>
                            <%= quiz.description %>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="/quiz/<%= quiz._id %>" role="button">View</a>
                            <a class="btn btn-primary btn-warning" href="/quiz/<%= quiz._id %>" role="button">Edit</a>
                            <form action="<%= quiz._id %>" method="DELETE" style="display: inline" id="deleteForm">
                                <input type="hidden" name="_method" value="DELETE" />
                                <button data-id="<%= quiz._id %>" type="button" class="btn btn-danger"
                                    onclick="deleteQuiz(this)">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>

    <script>
        async function deleteQuiz(button) {
            const quizId = button.getAttribute('data-id');

            try {
                const response = await fetch(`/quiz/delete/${quizId}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                if (response.ok) {
                    // Optionally, you can remove the question row from the table without reloading
                    button.closest('tr').remove(); // Remove the row containing the deleted question
                } else {
                    // Handle the error response if needed
                    const errorMessage = await response.text();
                    console.error('Failed to delete the quiz:', errorMessage);
                }
            } catch (error) {
                console.error('Error deleting quiz:', error);
            }
        }
    </script>

</body>

</html>