<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/question.css">
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body>
    <div>
        <a href="./addQuizz" class="btn btn-sm btn-outline-secondary button">New Quiz</a>

        <h1 class="text-center">
            <%= description %>
        </h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Quiz</th>
                </tr>
            </thead>
            <tbody>
                <% quizzes.forEach((quiz, index)=> { %>
                    <tr>
                        <td>
                            <%= index + 1 %>
                        </td>
                        <td>
                            <%= quiz.description %>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="/quiz/<%= quiz._id %>" role="button">View</a>
                            <a class="btn btn-primary btn-warning" href="/quiz/<%= quiz._id %>" role="button">Edit</a>
                            <form action="<%= quiz._id %>" method="DELETE" style="display: inline" id="deleteForm">
                                <input type="hidden" name="_method" value="DELETE" />
                                <button type="button" class="btn btn-danger" onclick="confirmDelete()">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>

    <script>
        function confirmDelete() {
            // Hiển thị thông báo xác nhận
            const confirmation = confirm(
                "Are you sure you want to delete this question?"
            );
            if (confirmation) {
                // Nếu người dùng chọn "Yes", gửi form
                document.getElementById("deleteForm").submit();
            }
        }
    </script>

</body>

</html>